name: build

on:
  - push
  - pull_request

jobs:
  go:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ^1.17
        id: go
      - uses: actions/checkout@v2
      - run: make build
